# DATA TYPES AND STRUCTURE QUESTIONS AND ANSWER

1.What are data structures, and why are they important.   
  -  A data structure is a way to organize, store and manage the data so that it can be used efficently.  
  -   importance of data structure >> they help solve problem efficiently-both in trems of time and space,

2.Explain the difference between mutable and immutable data types with examples.
 -  mutable data types can be changed after they are created.
 -  immutable data types can't be changed onces created.

In [ ]:
my_list=[1,2,3]
my_list[0]=10
my_list
# in my_list the value of 0th index has changed so it is mutable.

my_tuple=(1,2,3)
my_tuple[0]=10
my_tuple
# in my_tuple the value of 0th index has not changed so it is immutable.

TypeError: 'tuple' object does not support item assignment

3.what are the main differences between lists and tuples in Python.  
 - LIST : list is mutable,
 -  it is written in square bracket: [ ]
 -  Has many function like append( ), remove( )
 -  when data needs to change, e.g., a list of task
 -  TUPLE : immutable (can't be change )
 -  parenthesses : ( )
 -  when a data should stay constant, e.g., days of weeks

4.Describe how dictionaries store data.  
 -  Dictionaries store the data in the form of key-value pairs. where each key maps to a value.

5. Why might you use a set instead of a list in Python.  
 -  A set automatically removes duplicates.
 -  checking if an item exists (in) is much faster in a set than a list, especially for large collection.  
 -  sets support union, intersection, difference, etc., which list don't have.

6.  What is a string in Python, and how is it different from a list.  
 -  A string is a sequence of characters enclosed in quotes.
 -  A string is immutable,  you can't change its contents after it is created.
 -  STRING is different from the list because
 -  string only store characters and list store any data type.(numbers,strings,objects)
 -  string is immutable and list is mutable.
 -  syntex of string "text" or 'text'
 -  syntex of list [1,2,3,"text"]

7. How do tuples ensure data integrity in Python.  
 -  Tuple help preserve the integrity of your data by making it unchangable.

8. What is a hash table, and how does it relate to dictionaries in Python.
 -  A hash table is a data structure that :
 -  stores a data as a key - value pairs
 -  uses a hash function to quickly find the location (index) of a value  
 -  A dictionary (dict) in python is implemented using a hash table internally.  
 -  when create and use a dictionary, and values in a hash table behind the scenes.

9. Can lists contain different data types in Python.?  
 -  yes, lists can contain different types of data.

10. Explain why strings are immutable in Python?  
 -  strigs in python are immutable to ensure they arre hashable and can be used as keys in dictionaries and elements in sets. this also improves efficiency, as the same string object can be safely shared across the programme.

11. What advantages do dictionaries offer over lists for certain tasks?  
 -  Dictionaries offer faster lookups for keys compared to lists which require time to search for an element. They also allow you to associates meaningful keys with values, making data more organized and readable than index based access in list.

12. Describe a scenario where using a tuple would be preferable over a list?  
 -  When you need to store a fixed collection of values that should not change (immutable) and are ment to represent a single logical record.
  -  e.g., location=(28.3647,77.3830)

13. How do sets handle duplicate values in Python?  
 -  Sets in python automatically eliminates duplicates.
 -  A set only keep unique elements.
 -  when you add duplicates in sets, they are ignored because sets don't allow duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?  
 -  On a list : in checks if a given value is present among the elements of the list.
 -  On a dictionary : in checks the given value is a key in dictionaries -- not the values.

15. Can you modify the elements of a tuple? Explain why or why not ?  

 -  No,you cannot modify the elements of the tuple.
 -  why?  
 -  because tuples are immutable in python.  
 -  Once you created a tuple, its content cannot be changed - you cannot add, remove, or change individual elements.

16. What is a nested dictionary, and give an example of its use case?  
 -  A nested dictionary in python is a dictionary where values themselves are dictionaries.
 -  It aloows you to represent hierarchical or structural or structured data - a dictionary inside another dictionary.

17. Describe the time complexity of accessing elements in a dictionary?  
 -  why is it 0(1)?
 -  python dictionaries are implemented using hash tables.
 -  when you access en elements by its key (e.g.,my_dict=[key]),python
 -  a. compute the hash of the key.
 -  b. uses the hash to directly find the position in the internal table.
 -  c. returns the value associated with that key.
 -  this does not depend on the size of the dictionary, soo it's so fast.
 -  worst case 0(n)
 -  this happens rarely, in case of may hash collisions.
 -  python resolves collisions  but if they are sxcessive (poor hash ditribution), it may have to check several entries linearly.
 -  Best/Average 0(1)
 -  worst(rare) 0(n)

18. In what situations are lists preferred over dictionaries.
 -  When the order of elements matters (lists preserve insertion order,and you can access elements by position).
  -  when you just need a sequence of items,not associated with keys.
  -  when you want to store duplicates, because list aloow repeated values,while dictionaries keys are unique.
  -  when you mainly access items by index,
  -  when memory efficiency is more important and you don't need the overhead of storing keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?  
 -  Dictionaries were implemented using a hash table, where the order of the keys was not guaranteed.
 -  when you added a key-value pairs, pyhton stored them based on their hash, not in the order you inserted them.
 -  so iterating over a dictionary could return keys in any order.
 -  >> how does the data retrival?
 -  since dictionaries are optimized for fast lookup by key, you can't retrive elements by position (like mydict[0] is invalid )
 -  you must know the key to retrive the corresponding value.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 -  1. >>  How data is stored.
 -  list :  
 -  Data is stored as an ordered sequence of elements, each with an index (1,2,...)
 -  Dictionay :  
 -  Data is stored as key-value pairs, where each key map to a value.
 -  2.  >>  How you retrive data
 -  List :  
 -  you retrive data by index(position)
 -  Dictionary :  
 -  you retrive the data by key
 -  you don't meed to know the position-- you just need the key.

#practical Questions

In [ ]:
# 1. Write a code to create a string with your name and print it.
name="Sarim Rana"
print(name)

Sarim Rana

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
str="Hello world"
len(str)

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text="python programming"
sliced=text[0:3]
print(sliced)

pyt

In [5]:
# 4. Write a code to convert the string "hello" to uppercase.
str="hello"
str.upper()

'HELLO'

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text="I like apple"
new_text=text.replace("apple","orange")
new_text

'I like orange'

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list=["a","b","c","d"]
list[1]

'b'

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [14]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple=("red","green","blue","yellow")
my_tuple[1:4]

('green', 'blue', 'yellow')

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple=(10,20,5,15)
min(my_tuple)

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple=("dog","cat","rabbit")
my_tuple.index("cat")

1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
my_tuple=("apple","banana","kiwi")
"kiwi" in my_tuple

True

In [20]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={"a","b","c"}
print(my_set)

{'c', 'b', 'a'}

In [21]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
my_set

set()

In [22]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [24]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1 & set2

{2, 3}

In [25]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict={"name":"sairm rana","age":20,"city":"ghaziabad"}
print(my_dict)

{'name': 'sairm rana', 'age': 20, 'city': 'ghaziabad'}

In [26]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict={"name":"john","age":25}
my_dict["country"]="usa"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [28]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict={"name":"Alice","age":30}
print(my_dict["name"])

Alice

In [30]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict={"name":"Bob","age":22,"city":"New York"}
#my_dict.pop("age") we can also use pop for remove the particulsr key pairs.
del my_dict["age"]
my_dict

{'name': 'Bob', 'city': 'New York'}

In [31]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict={"name":"Alice","city":"paris"}
"city" in my_dict

True

In [33]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[1,2,3,4]
my_tuple=(5,6,7,8)
my_dict={"name":"Alice","age":22}
print("list:",my_list)
print("tuple:",my_tuple)
print("dict:",my_dict)

list: [1, 2, 3, 4]
tuple: (5, 6, 7, 8)
dict: {'name': 'Alice', 'age': 22}

In [34]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#     result.(replaced)
my_list=[10,90,40,50,20]
my_list.sort()
my_list

[10, 20, 40, 50, 90]

In [37]:
# 28. Write a code to create a list with strings and print the element at the third index.
my_list=["sanjay","ajay","bijay","sunny"]
my_list[3]

'sunny'

In [40]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"Alice","age":30}
dict2={"city":"paris","country":"france"}
dict1.update(dict2)
dict1

{'name': 'Alice', 'age': 30, 'city': 'paris', 'country': 'france'}

In [41]:
# 30. Write a code to convert a list of strings into a set.
my_list=["sarim","rana","rajput"]
set1=set(my_list)
set1

{'rajput', 'rana', 'sarim'}

In [42]:
type(set1)

set